/* CSS RESET */
* {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(253, 252, 247);
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: red;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100&display=swap");

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 500;
  margin-block: 1rem 2rem;
  color: rgb(64, 64, 64);
}

hr {
  color: black;
  padding: 2px;
  border: 1.5px solid black;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}

input,
button {
  font-size: 1.3rem;
  padding: 0.7rem;
}

input {
  border: 2px solid gray;
  outline: none;
  color: gray;
  border-right: none;
  border-radius: 12px 0 0 12px;
}

#goButton {
  background: red;
  font-weight: 700;
  text-decoration: none;
  color: white;
  border: 2px solid red;
  border-radius: 0 12px 12px 0;
}
main {
  width: 75%;
  margin: 0 auto;
}

main > h4 {
  text-transform: uppercase;
  padding-bottom: 2rem;
  font-size: 1.2rem;
  letter-spacing: -1px;
  color: rgb(233, 0, 0);
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}

main .news {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

#news {
  padding: 1rem;
  width: 30%;
  min-width: 300px;
}

#news > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 2;
}

#news > h2 {
  margin-block: 1rem;
}
#news > p {
  margin-block: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

#news > a {
  margin-top: 1rem;
  display: block;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 135px;
}
#news > a > img {
  width: 20px;
}
#news > a:hover {
  color: red;
}

footer > p {
  padding-block: 4rem 2rem;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  #news {
    width: 45%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  main {
    width: 90%;
    align-items: stretch;
  }

  .news {
    justify-content: space-around;
  }

  #news {
    width: 45%;
    min-width: 200px;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }
  .form > input {
    width: 70%;
  }
  main {
    width: 95%;
  }
  #news {
    width: 100%;
  }
  footer > p {
    margin: 0;
    padding-block: 1rem;
    padding-inline: 2rem;
    font-size: 0.8rem;
  }
}
